body {
    margin: 0;
    padding: 0;
    background-color: #8B0000;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-family: 'Zen Kurenaido', sans-serif;
    font-size: 24px;
    background-image: url(img/bg.png);
}

#app {
    margin: 50px;
    background-color: rgba(0, 0, 0, .9);
    padding: 20px;
    border-radius: 10px;
}

#atributos {
    display: flex;
    align-items: center;
    flex-direction: row;
}

#atributos div {
    margin: 10px;

    margin-right: 200px;
}

#atributos div img {
    margin: -30px;
}

#atributos div {
    font-size: 40px;
}

#input {
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

input {
    background-color: rgba(0, 0, 0, .9);
    padding: 15px;
    border-radius: 15px;
    color: white;
    border: none;
}

button {
    background-color: rgba(0, 0, 0, .9);
    border: none;
    padding: 15px;
    border-radius: 15px;
    color: white;
    cursor: pointer;
}

#alert {
    background-color: rgba(0, 0, 0, .9);
    margin: 0 300px;
    padding: 1px;
    margin-top: 10px;
    border-radius: 10px;
    display: none;
}

#app {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#app p {
    transition: .6s;
}

#app p:hover {
    transition: .6s;
    font-size: 30px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 150px;
    align-items: center;
}

a {
    color: white;
}

#footer {
    background-color: rgba(0, 0, 0, .9);
}
#footer p {
    position: absolute;
    top: 550px;
    width: 100%;
    text-align: center;
    text-decoration: underline;
}

